body{background-color: #EEEEEE;}
.ustmenu {height: auto; width: auto;}

.solmenu {height: 500px; width: auto;  float:left;}

.icerik { margin-left:20px; height: auto; width: 75%;   float: left;}


.top20 {margin-top: 20px;}